<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>SearchIndex</servlet-name>
    <servlet-class>cn.iflin.index.SearchIndex</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchIndex</servlet-name>
    <url-pattern>/Search</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>SendEMail</servlet-name>
    <servlet-class>cn.iflin.index.SendEMail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendEMail</servlet-name>
    <url-pattern>/SendEmail</url-pattern>
  </servlet-mapping>
  
</web-app>